@charset "utf-8";
/* CSS Document */

* {
	box-sizing: border-box;
}

body {
	padding-top: 50px;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}

.page-header {
	margin-bottom: 0;
}

.navbar {
	margin-bottom: 0;
}

header h1 {
	padding-bottom: 30px;
}

.warning {
	padding: 10px 0;
	display: none;
}

.warning a {
	border: 2px solid white;
	padding: 0 4px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	left: 10px;
	top: -10px;
}

.entry {
	background: rgb(201, 201, 201);
	padding: 40px 0;
}

.entry p {
	font-size: 1.25em;
	padding-bottom: 40px;
}

.data {
	padding: 40px 0;
}

.week, .total {
	padding: 5px;
	margin-bottom: 10px;
}

.dataEntered {
	border: 1px solid black;
	padding: 10px;
	margin-top: 20px;
}

.dataEntered ul {
	padding: 0;
	list-style: none;
	margin-left: 5px;
}

.dataEntered li {
	display: inline-block;
	margin-right: 40px;
}

.total {
	margin-top: 40px;
}

label.real-large-label {
   font-size: 1.5em;
   line-height: 46px;
   font-weight: normal;
}

/*Spacing between edit and remove button */
.work li:nth-child(4) {
	margin-right: 10px;
}

/*Alert danger bg color */
.alert-danger {
	background: #c94444;
	color: #fff;
}

/*glyphicon margin-right*/
.glyphicon, i {
	margin-right: 10px;
}

/*remove bottom margin from jumbotron*/
.jumbotron {
	padding: 100px 0;
	margin-bottom: 0;
}


@media (max-width: 1250px) {
    .jumbotron h1 {
        font-size: 3em;
    }
}

@media (max-width: 740px) {
    .jumbotron h1 {
        font-size: 2.5em;
    }
}